 
    %flex {
        display: -ms-flexbox;
        display: flex;
    }

    %inline_elem {
        display:inline-block;
        vertical-align: middle;
    }
    
    %show {
        visibility: visible;
        opacity: 1;
    }
    
    %hide {
        visibility: hidden;
        opacity: 0;
    }
    
    %user_cursor {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

